/*<meta />*/

body
{
	font-family: Arial;
}

h1
{
	font-weight: bold;
	font-size: 24.0pt;
}

h2
{
	font-weight: bold;
	font-size: 18.0pt;
}

h3
{
	font-weight: bold;
	font-size: 14.0pt;
}

h4
{
	font-weight: bold;
	font-size: 12.0pt;
}

h5
{
	font-weight: bold;
	font-size: 10.0pt;
}

h6
{
	font-weight: bold;
	font-size: 8.0pt;
}

p
{
	font-size: 12.0pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

ol,
ul
{
	margin-top: 0px;
	margin-bottom: 0px;
}

img
{
	border: none;
}

a.Popup
{
	
}

MadCap|expandingHead
{
	font-style: italic;
	font-weight: normal;
	cursor: hand;
	text-decoration: none;
	color: #006600;
}

MadCap|expandingBody
{
	color: #777777;
	font-style: italic;
}

MadCap|dropDownHotspot
{
	cursor: hand;
	font-style: italic;
	text-decoration: none;
	color: #006600;
}

div.aaa
{
	color: #008000;
}

MadCap|conceptLink.Home_Console
{
	mc-label: 'See Home Console Specific Games';
}

div.Main
{
	font-family: 'Chaparral Pro Light';
	background-color: #696969;
	color: #ffffff;
	border: groove 13px #daa520;
	margin-left: 15px;
	margin-right: 15px;
	padding: 15px;
	height: inherit;
	width: inherit;
}

body.Main
{
	font-family: Arial;
	background-color: #f0e68c;
}

img.OfficialLogoCentered
{
	border: none;
	clear: both;
}

div.Bug	/*Bug Reminders*/
{
	margin: 10px;
	border-radius: 10px;
	background-color: #ff0000;
	padding: 10px;
	background-image: url('../Images/Bug.png');
	background-repeat: no-repeat;
	mc-auto-number-format: '{color white}{b}Bug:{/b}{/color} ';
	mc-auto-number-position: float-left;
	width: auto;
	border: solid 2px #567351;
}

div.Why
{
	margin: 10px;
	border-radius: 10px;
	padding: 10px;
	background-image: url('../../../Images/Bug.png');
	background-repeat: no-repeat;
	mc-auto-number-position: float-left;
	width: auto;
	border: solid 2px #567351;
	background-color: #ffff00;
	border-color: #8a2be2;
	mc-auto-number-format: '{color gray}{b}Why?:{/b}{/color} ';
}

p.allimages img
{
	font-size: 12.0pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
	border: solid 6px #daa520;
	padding: 10px;
	margin: 10px;
	clear: right;
}

img.Thumb
{
	border: none;
	mc-thumbnail: popup;
}

img.fitWindow
{
	border: none;
}

p.images
{
	font-size: 12.0pt;
	margin-bottom: 0pt;
	background-color: #eee8aa;
	margin-top: 10pt;
	padding: 10px;
}

img.tableImage
{
	border: none;
	mc-thumbnail: hover;
	mc-thumbnail-max-height: 100px;
}

div.Main img
{
	float: left;
	clear: left;
}

img.logoThumb
{
	border: none;
	mc-thumbnail-max-height: auto;
	mc-thumbnail: popup;
	mc-thumbnail-max-width: 300px;
}

